* {
  box-sizing: border-box;
  margin: 2px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input {
  width: 60%;
  float: right;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#btnDiv {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

button {
  width: 15%;
  margin: 0 auto;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#formBody, #otherHalf {
  width: 50%;
  padding: 2px;
}

#weeksContainer, #rateContainer {
  margin: 1.5rem;
}