* {
  box-sizing: border-box;
  margin: 2px;
}

div {
  width: 50%;
  padding: 1rem;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input {
  width: 60%;
  float: right;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
#btn-div {
  display: flex;
  justify-content: center;
}
button {
  width: 15%;
  margin: 0 auto;
}